<div class="container">
  <h2>投稿詳細</h2>
  <div class="row">
    <div class="col-sm-12 col-md-8 px-5 px-sm-0 mx-auto">
      <table class="table">
        <tr>
          <th style="width:80px;">タイトル</th>
          <td><%= @post.title %></td>
        </tr>
        <tr>
          <th>本文</th>
          <td><%= @post.body %></td>
        </tr>
        <tr>
          <th class=<%= "favorite-" + @post.id.to_s %> >
            <%= render "public/favorites/btn", post: @post %>
          </th>
        </tr>
      </table>
      <div>
        <% if @post.user == current_user %>
          <td><%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
          <td><%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
        <% end %>
        <td><%= link_to '戻る', group_path(@group), class: 'btn btn-sm btn-primary' %></td>
      </div>
      <h5 class="text-center mt-5 mb-2 rounded", style="background-color:cyan;">コメントセクション</h5>
      <div class="post-comments-index">
        <%= render "public/post_comments/index", post: @post %>
      </div>
      <%= render "public/post_comments/form", post: @post, post_comment: @post_comment %>
      </div>
    </div>
  </div>
</div>